.container{
    width:400px;
    max-width:400px;
    border:2px solid black;
}
body{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: aqua;

}
.form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#password{
    margin-bottom: 10px;
    
}
button{
    margin-bottom: 10px;
}