*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
   
    background-image: url("forest.png");
    background-size: cover;
    background-position: center;
}
.wrapper{
    width:400px;
    
    background:purple;
    color:white;
    border-radius:10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size:36px;
    text-align:center;

}
.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
  
    margin:30px 0;

}
.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,0.2);
    border-radius:40px;
    font-size:16px;
    color:white;
    padding:20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:white;

}
.input-box i {
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
}
.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    
}
.remember-forgot label input{
    accent-color:white;
    margin-right:3px;
}
.remember-forgot a{
    color:white;
    text-decoration:none;
    margin-bottom: 20px;
}
.remember-forgot a:hover{
    text-decoration:underline;

}
.wrapper .btn{
    width:100%;
    height:40px;
    background:white;
    border:none;
    outline:none;
    border-radius:40px;
    font-size:16px;
    border-radius: 40px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-weight: 600;
    color:#333;
    transition: all 0.3s ease;
    margin:20px 0;
    

}
.wrapper .register{
    text-align:center;
    font-size:14px;
    margin-top: auto;
    

}
.register p a {
    color:white;
    text-decoration:none;
    
    
}
.register p a:hover{
    text-decoration:underline;
}


    